<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zucc.smart.mapper.HelperMapper">

	<select id="getStreetName" parameterType="java.lang.String" resultType="java.lang.String" useCache="false">
    	select streetname
    	FROM street
    	where streetcode = #{streetcode}
    </select>
    
    <select id="getStreetCode" parameterType="java.lang.String" resultType="java.lang.String" useCache="false">
    	select streetcode
    	FROM street
    	where streetname = #{streetname}
    </select>

	<select id="getAreaName" parameterType="java.lang.String" resultType="java.lang.String" useCache="false">
    	select areaname
    	FROM area
    	where businesscode = #{businesscode}
    </select>
    
    <select id="getBusinessCode" parameterType="java.lang.String" resultType="java.lang.String" useCache="false">
    	select businesscode
    	FROM area
    	where areaname = #{areaname}
    </select>
    
    <select id="getTypeCode" parameterType="java.lang.String" resultType="java.lang.String" useCache="false">
    	select typecode
    	FROM parkingtype
    	where typename = #{typename}
    </select>
    
    
    <select id="getAreaNameByStreetCode" parameterType="java.lang.String" resultType="java.lang.String" useCache="false">
    	select distinct areaname
    	FROM street
    	where streetcode = #{streetcode}
    </select>
    
    <select id="getParkingName" parameterType="java.lang.String" resultType="java.lang.String" useCache="false">
    	select distinct parkname
    	FROM parking
    	where parkcode = #{parkcode}
    </select>
    
    <select id="getParkingNameTags" parameterType="java.lang.String" resultType="java.lang.String" useCache="false">
    	select distinct parkname
    	FROM parking
    </select>
    
    <select id="getParkingCodeTags" parameterType="java.lang.String" resultType="java.lang.String" useCache="false">
    	select parkcode
    	FROM parking
    </select>
    
     <select id="getTypeNameTags" parameterType="java.lang.String" resultType="java.lang.String" useCache="false">
    	select distinct typename
    	FROM parkingtype
    </select>
    
     <select id="getStreetNameTags" parameterType="java.lang.String" resultType="java.lang.String" useCache="false">
    	select distinct streetname
    	FROM street
    </select>
    
    <select id="getStreetCodeTags" parameterType="java.lang.String" resultType="java.lang.String" useCache="false">
    	select distinct streetcode
    	FROM street
    </select>
    
     <select id="getAreaNameTags" parameterType="java.lang.String" resultType="java.lang.String" useCache="false">
    	select distinct areaname
    	FROM area
    </select>
    
    <select id="getAreaCodeTags" parameterType="java.lang.String" resultType="java.lang.String" useCache="false">
    	select distinct businesscode
    	FROM area
    </select>
    
    <select id="getCarTypeTags" parameterType="java.lang.String" resultType="java.lang.String" useCache="false">
    	select distinct cartype
    	FROM vehicle
    </select>
    
    <select id="getUserCphTags" parameterType="java.lang.String" resultType="java.lang.String" useCache="false">
    	select cph
    	FROM vehicle
    	where user_id = #{user_id}
    </select>
    
    <select id="getUserRecordIDTags" parameterType="java.lang.String" resultType="java.lang.String" useCache="false">
    	select id
    	FROM record
    	where cph = #{cph}
    </select>
    
</mapper>