<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zucc.smart.mapper.ParkingMapper">

	<resultMap id="ParkingMap" type="com.zucc.smart.domain.Parking">
		<result column="parkcode" property="parkcode" />
		<result column="streetcode" property="streetcode" />
		<result column="businesscode" property="businesscode" />
		<result column="parkname" property="parkname" />
		<result column="streetname" property="streetname" />
		<result column="areaname" property="areaname" />
		<result column="typecode" property="typecode" />	
		<result column="parking_amount" property="parking_amount" />
		<result column="parking_rest" property="parking_rest" />
	</resultMap>

	<select id="getBusinesscode" resultMap="ParkingMap" useCache="false">
    	select distinct BUSINESSCODE
    	FROM parking
    	group by BUSINESSCODE
    </select>
    
	<select id="getAllParking" parameterType="java.lang.String" resultMap="ParkingMap" useCache="false">
		SELECT *
		FROM parking
	</select>
	
	<select id="getParkingSearch" parameterType="java.lang.String" resultMap="ParkingMap" useCache="false">
		SELECT *
		FROM parking
		where lng between #{down_lng} and #{up_lng} and lat between #{down_lat} and #{up_lat};
	</select>
	
	<select id="getTypeCount" resultType="java.util.HashMap" useCache="false"> 
		select typecode, count(typecode) 
		from parking 
		group by typecode
	</select>
	
	<select id="getOneTypeCount" parameterType="java.lang.String" resultType="java.lang.String" useCache="false"> 
		select count(parkcode) 
		from parking 
		where typecode = #{typecode}
	</select>
	
	<select id="getAreaCount" resultType="java.util.HashMap" useCache="false"> 
		select BUSINESSCODE, count(BUSINESSCODE) 
		from parking 
		group by BUSINESSCODE
	</select>
	
	<select id="getOneAreaCount" parameterType="java.lang.String" resultType="java.lang.String" useCache="false"> 
		select count(parkcode) 
		from parking 
		where BUSINESSCODE = #{BUSINESSCODE}
	</select>
	
	<select id="getStreetCount" resultType="java.util.HashMap" useCache="false"> 
		select streetcode, count(streetcode) 
		from parking 
		group by streetcode
	</select>
	
	<select id="getOneStreetCount" parameterType="java.lang.String" resultType="java.lang.String" useCache="false"> 
		select count(parkcode) 
		from parking 
		where streetcode = #{streetcode}
	</select>
	
	<select id="parkingSearch" parameterType="java.lang.String" resultMap="ParkingMap" useCache="false">
		select * 
		from parking 
		where parkcode like #{searchWord} or streetcode like #{searchWord} or businesscode like #{searchWord} or parkname like #{searchWord} or streetname like #{searchWord} or areaname like #{searchWord} or typecode like #{searchWord};
	</select>
	
	<select id="searchStreet" parameterType="java.lang.String" resultType="java.util.HashMap" useCache="false">
		select distinct streetcode,streetname
		from parking 
		where streetcode like #{searchWord} or streetname like #{searchWord} or areaname like #{searchWord}
	</select>
	
	<select id="searchArea" parameterType="java.lang.String" resultType="java.util.HashMap" useCache="false">
		select distinct BUSINESSCODE,areaname
		from parking 
		where BUSINESSCODE like #{searchWord} or areaname like #{searchWord}
	</select>
	
	<select id="searchParkcodeByParkname" parameterType="java.lang.String" resultMap="ParkingMap" useCache="false">
		select distinct parkcode
		from parking 
		where parkname like #{searchWord}
	</select>
	
	<select id="searchStreetcodeByStreetname" parameterType="java.lang.String" resultMap="ParkingMap" useCache="false">
		select distinct streetcode
		from parking 
		where streetname like #{searchWord}
	</select>
	
	<select id="searchBusinesscodeByAreaname" parameterType="java.lang.String" resultMap="ParkingMap" useCache="false">
		select distinct BUSINESSCODE
		from parking 
		where areaname like #{searchWord}
	</select>
	
	<select id="getTypeCode" parameterType="java.lang.String" resultMap="ParkingMap" useCache="false">
		select *
		from parking 
		where parkcode = #{parkcode}
	</select>
	
	<select id="getParkcode" parameterType="java.lang.String" resultType="java.lang.String" useCache="false">
		select parkcode
		from parking 
		where parkname = #{parkname}
	</select>
	
	<select id="getParkcodeByTypecode" parameterType="java.lang.String" resultMap="ParkingMap" useCache="false">
		select *
		from parking 
		where typecode = #{typecode}
	</select>
	
	<select id="getParkcodeForLng" parameterType="java.lang.String" resultMap="ParkingMap" useCache="false">
		select *
		from parking 
		where lng = #{lng}
		limit 1
	</select>
	
	<select id="getParkcodeForLat" parameterType="java.lang.String" resultMap="ParkingMap" useCache="false">
		select *
		from parking 
		where lat = #{lat}
		limit 1
	</select>
	
	<update id="updateLng" parameterType="java.lang.String">
        update parking
        <set>
            lng = #{lng}
        </set>
        where parkcode = #{parkcode}
	</update>
	
	<update id="updateLat" parameterType="java.lang.String">
        update parking
        <set>
            lat = #{lat}
        </set>
        where parkcode = #{parkcode}
	</update>
	
</mapper>