<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zucc.smart.mapper.RecordMapper">

	<resultMap id="RecordMap" type="com.zucc.smart.domain.Record">
		<result column="id" property="id" />
		<result column="berthcode" property="berthcode" />
		<result column="cph" property="cph" />
		<result column="parkcode" property="parkcode" />
		<result column="streetcode" property="streetcode" />
		<result column="businesscode" property="businesscode" />
		<result column="inserttime" property="inserttime" />	
		<result column="dealtime" property="dealtime" />
	</resultMap>

	<select id="getAllRecord" resultMap="RecordMap" useCache="false">
    	select id,berthcode,cph,parkcode,streetcode,businesscode,inserttime,dealtime
    	FROM record
    	order by parkcode asc;
    </select>
    
    <select id="getUserRecord" resultMap="RecordMap" useCache="false">
    	select id,berthcode,cph,parkcode,streetcode,businesscode,inserttime,dealtime
    	FROM record
    	where cph = #{cph};
    </select>

	<!-- 管理员 -->
	<select id="searchRecordByID" resultMap="RecordMap" useCache="false">
    	select id,berthcode,cph,parkcode,streetcode,businesscode,inserttime,dealtime
    	FROM record
    	where ID like #{searchWord};
    </select>
	
	<select id="searchRecordByCPH" resultMap="RecordMap" useCache="false">
    	select id,berthcode,cph,parkcode,streetcode,businesscode,inserttime,dealtime
    	FROM record
    	where CPH like #{searchWord};
    </select>
    
    <select id="searchRecordByParking" resultMap="RecordMap" useCache="false">
    	select id,berthcode,cph,parkcode,streetcode,businesscode,inserttime,dealtime
    	FROM record
    	where parkcode = #{searchWord};
    </select>
    
    <select id="searchRecordByStreet" resultMap="RecordMap" useCache="false">
    	select id,berthcode,cph,parkcode,streetcode,businesscode,inserttime,dealtime
    	FROM record
    	where streetcode = #{searchWord};
    </select>
    
    <select id="searchRecordByArea" resultMap="RecordMap" useCache="false">
    	select id,berthcode,cph,parkcode,streetcode,businesscode,inserttime,dealtime
    	FROM record
    	where businesscode = #{searchWord};
    </select>
     
    <!-- 用户 -->
    <select id="searchUserRecordByID" resultMap="RecordMap" useCache="false">
    	select id,berthcode,cph,parkcode,streetcode,businesscode,inserttime,dealtime
    	FROM record
    	where ID like #{searchWord} and cph = #{cph};
    </select>
	
	<select id="searchUserRecordByCPH" resultMap="RecordMap" useCache="false">
    	select id,berthcode,cph,parkcode,streetcode,businesscode,inserttime,dealtime
    	FROM record
    	where CPH like #{searchWord} and cph = #{cph};
    </select>
    
    <select id="searchUserRecordByParking" resultMap="RecordMap" useCache="false">
    	select id,berthcode,cph,parkcode,streetcode,businesscode,inserttime,dealtime
    	FROM record
    	where parkcode = #{searchWord} and cph = #{cph};
    </select>
    
    <select id="searchUserRecordByStreet" resultMap="RecordMap" useCache="false">
    	select id,berthcode,cph,parkcode,streetcode,businesscode,inserttime,dealtime
    	FROM record
    	where streetcode = #{searchWord} and cph = #{cph};
    </select>
    
    <select id="searchUserRecordByArea" resultMap="RecordMap" useCache="false">
    	select id,berthcode,cph,parkcode,streetcode,businesscode,inserttime,dealtime
    	FROM record
    	where businesscode = #{searchWord} and cph = #{cph};
    </select>
    
    <select id="getRecordTypeCount" resultType="java.util.HashMap" useCache="false"> 
		select typecode, count(typecode) 
		from record 
		group by typecode
	</select>
	
	
	
	<!-- 按类别/街道/城区统计数量 -->
	<select id="getRecordStreetCount" resultType="java.util.HashMap" useCache="false"> 
		select streetcode, count(streetcode) 
		from record 
		group by streetcode
	</select>
	
	<select id="getRecordAreaCount" resultType="java.util.HashMap" useCache="false"> 
		select businesscode, count(businesscode) 
		from record 
		group by businesscode
	</select>
	
	<select id="getRecordAreaTimeCount" resultType="java.lang.Integer" useCache="false"> 
		select businesscode,count(*) 
		from record 
		where inserttime like #{str} group by businesscode;
	</select>
	
	
	
	<!-- 按时段统计数量 -->	
	<select id="getRecordTimeCount" resultType="java.lang.Integer" useCache="false"> 
		select count(*) 
		from record 
		where inserttime like #{str}
	</select>
	
	<select id="getRecordTimeCountForParking" resultType="java.lang.Integer" useCache="false"> 
		select count(*) 
		from record 
		where inserttime like #{str} and parkcode = #{parkcode}
	</select>
	
	<select id="getRecordTimeCountForArea" resultType="java.lang.Integer" useCache="false"> 
		select count(*) 
		from record 
		where inserttime like #{str} and businesscode = #{businesscode}
	</select>
	
	<select id="getRecordTimeCountForStreet" resultType="java.lang.Integer" useCache="false"> 
		select count(*) 
		from record 
		where inserttime like #{str} and streetcode = #{streetcode}
	</select>
	
	
	
	<select id="getDealtime" parameterType="java.lang.String" resultType="java.lang.String" useCache="false"> 
		select dealtime
		from record 
		where id = #{id}
	</select>
	
	<update id="updateRecord" parameterType="java.lang.String">
        update record
        <set>
            dealtime = #{newDealtime}
        </set>
        where id = #{id}
	</update>
  
</mapper>