<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zucc.smart.mapper.VehicleMapper">

	<resultMap id="VehicleMap" type="com.zucc.smart.domain.Vehicle">
		<result column="cph" property="cph" />
		<result column="cartype" property="cartype" />
		<result column="user_id" property="user_id" />
		<result column="state" property="state" />
	</resultMap>

	<select id="getUserVehicle" parameterType="java.lang.String" resultMap="VehicleMap" useCache="false">
    	select *
    	FROM vehicle
    	where user_id = #{user_id} and state = 'true'
    </select> 
    
    <select id="getUserVehicleForAdmin" parameterType="java.lang.String" resultMap="VehicleMap" useCache="false">
    	select *
    	FROM vehicle
    	where user_id = #{check_id}
    </select> 
    
    <select id="getVehicleCount" parameterType="java.lang.String" resultType="java.lang.Integer" useCache="false">
    	SELECT count(*) 
    	FROM smart_park.vehicle 
    	where user_id = #{user_id}
    </select>  
	
	<update id="deleteVehicle" parameterType="java.lang.String">
        update vehicle
        <set>
            state = 'false'
        </set>
        where cph = #{cph}
	</update> 
	
	<insert id="addVehicle" parameterType="java.lang.String">
		INSERT INTO vehicle
		(cph, cartype, user_id, state)
		values
		(#{cph}, #{cartype}, #{user_id}, 'true')
	</insert>  
	 
</mapper>